* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    display: flex;
    
    position: relative;
    transform-style: preserve-3d;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background , .foreground{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}
h1{
    color: white;
    font-size: 10.2rem;
    font-weight: bolder;
    position: absolute;
    top:80px;
}



.content{
    background-color: rgb(45,45,45);
    color: white;
    padding: 2rem 0px;
}
.heading{
    font-size: 52px;
    font-weight: bolder;
    margin: 50px 150px 80px 150px;
}
.text{
    font-size: 24px;
    margin: 50px 150px 100px 150px;
}

h3{
    position: absolute;
    top: 250px;
    right:45%;
    display: inline;
    background-color: white;
    color: black;
    font-size: 55px;
    padding: 10px 40px;
}

.bg{
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    height:500px;
    width:100vw;
  
}
#bg1{
    background-image: url('./sport-1.jpg');
}
#bg2{
    background-image: url('./sport-2.jpg');
}
#bg3{
    background-image: url('./sport-3.jpg');
}